<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Services</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-sliding *ngFor="let i of servicesArr;let index = index;">

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-label (click)="onClickService(index)">{{i.service}}</ion-label>
            
            <ion-select *ngIf="showSelect[index]" #mySelect placeholder="Select services">
                <!-- <ion-select-option value="">Add New One..</ion-select-option>  -->
              <ion-select-option value="AC Repair">AC Repair</ion-select-option>
              <ion-select-option value="Chimney Repair">Chimney Repair</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="4">
            <ion-input maxlength="3" class="amount-border" type="text" placeholder="amount" [(ngModel)]="i.amount">
            </ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>


    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="onRemoveItem(i)">Remove</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onAddService()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>



<ion-footer>
  <ion-button expand="full" color="primary" (click)="onSaveServices()">Save</ion-button>
</ion-footer>