<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Feedback / Reviews</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    Mohit Saxena
  </ion-item>
  <ion-item>
    <div class="inline-flex">Rating: <app-rating readOnly="true" [(rating)]="data.rating"></app-rating>
    </div>
  </ion-item>
  <ion-item>
    <div>Completed Assignments: {{data.assignments}}</div>
  </ion-item>
  <ion-item>
    <div>Earning via App(₹): {{data.earning}}</div>
  </ion-item>
  <ion-item>
    <ion-label>Customer Reviews</ion-label>
    <ion-list>
      <ion-item class="review-item" *ngFor="let itme of [1,2,3,4,5,6]">
        <p>Information about reactions to a product, a person's performance of a task, etc. which is used as a basis for
          improvement.</p>
          <p>-- John Ryan</p>
      </ion-item>
    </ion-list>
  </ion-item>


</ion-content>